/*************
*   Footer   *
*************/

/* footer a{ display: block; } */
/* footer a:link, footer a:visited, footer a:focus{ background: rgb(128,128,128); }
footer a:hover{  background: rgb(110,110,110); }
footer a:active{ background: rgb(100,100,100); } */